.top {
	background-color: lightgrey;
	padding: inherit;
}
.top #title {
	text-align: center;
	font-family: cursive;
}

.top #tagline {
	text-align: center;
}

.sidebar {
	clear: both;
	background-color: lightgrey;
	height: 500px;
	width: 200px;
	font-family: fantasy;
	float: left;
}

.sidebar .header {
	margin: auto;
	
}

.sidebar .header .title {
	text-align: center;
	font-size: 20px;
}

.sidebar .rooms-list {
	text-align: center;
	margin: auto;
	
}
.main {
	margin-left: 150px;
	height: 500px;
	
	
}